<style type="text/css">
    .more-options {
    
    width:220px;
    font-size:16px;
    border:1px solid #000;
    
    }
        .more-options ul {
        padding:0px 0px 0px 10px;
        }
        .more-options ul li {
        border-bottom:1px solid #777777;
        list-style:none;
        padding:5px;
        }
            .more-options ul li:hover{
            cursor:pointer;
            color:#FFF;
            background-color:#D5D5D5;
            }
            .more-options ul li:first-child {
            padding-top:0px;
            }

        .more-options ul li:last-child{
            border:none;
            padding-bottom:0px;
        }
</style>



<div class="more-options">
    <ul class="options-list">
        <li id="view-more">View</li>
        <li id="edit">Edit</li>
        <li id="print">Print</li>
        <li id="generate-invoice">Generate Invoice</li>
        <li id="draft">Mark as Draft</li>
        <li id="sent">Mark as Sent</li>
        <li id="paid">Mark as Paid</li>
        <li id="delete">Mark as Delete</li>
    </ul>
</div>