<style type="text/css">
    .more {
        border: 1px solid #000;
    }

    .more-options-button .more {
        width: 30px;
        height: 25px;
        text-align: center;
        float: right;
        margin-left: 30px;
        background-color: #D4D4D4;
        color: #777777;
        font-size: 15px;
        line-height: 23px;
    }

        .more-options-button .more:hover {
            cursor: pointer;
        }

        .more-options-button .more span {
            margin-top: 3px;
        }
</style>

<div class="btn-group float-right">
    <button data-toggle="dropdown" class="btn dropdown-toggle padding-booton">

        <span class="caret"></span>

    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Export Data</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Deactivate Account</a></li>

    </ul>
</div>
