@*Get Data through model*@
<style type="text/css">
    .search-component {
        width: 30%;
        float: right;
        display: inline;
    }

        .search-component .search-box span input {
            max-width: 300px;
            height: 30px;
            padding: 0px;
            margin: 0px;
        }

        .search-component .search-box span a {
            margin-left: -33px;
            position: fixed;
            height: 25px;
            padding: 3px;
        }

            .search-component .search-box span a img {
                height: 22px;
            }
</style>
<div class="search-component">
    <div class="search-box">
        <div id="serarchBox">
            @*<span>@Html.TextBox("Search")<a href="#"><img src="#" /></a></span>*@
        </div>
    </div>
</div>
