<style type="text/css">
    .tag-to {
        width: 100%;
    }
        .tag-to .tag-heading {
        margin-bottom:5px;
        }
        .tag-to .tags {
            height: 40px;
            background-color: #FFF;
        }

            .tag-to .tags .tag {
                text-align: center;
                float:left;
                margin-top:5px;
                margin-left:5px;
                margin-right:5px;
                width: 80px;
                height: 30px;
                background-color: #D4D4D4;
            }
                .tag-to .tags .tag:hover {
                 cursor:pointer;
                }
                .tag-to .tags .tag span {
                line-height:2;
                }
</style>

<div class="tag-to">
    <div class="tag-heading">Tag To</div>
    <div class="tags">

        <div class="tag">
           <span>Service</span> 
        </div>
        <div class="tag">
            <span>Project</span>
        </div>
        <div class="tag">
            <span>Product</span>
        </div>

    </div>

</div>
