<style type="text/css">
    .terms-conditions {
    width:100%;
    }
        .terms-conditions .text-area{
        width:100%;
        }
            .terms-conditions .text-area #txtTermsConditions {
            width:98.5%;
            height:100px;
            }
</style>

<div class="terms-conditions">
    <div class="terms-heading">
        Terms & Conditions
    </div>
    <div class="text-area">
        @Html.TextArea("txtTermsConditions")
    </div>
</div>