<div class="container clearfix">
    <div id="logo" class="fleft">
        <a href="~/stratus-home/index1.html">
            <img src="~/stratus-home/images/logo1.png"></a>
    </div>
    <div id="nav" class="fright">
        <ul class="navigation">
            <li class="libg"><a href="~/Stratus/Index" class="color-black">Home</a></li>
            <li class="libg"><a href="~/Stratus/TakeTour" class="color-black">Take A Tour</a></li>
            <li class="libg"><a href="~/stratus-home/acc_faq.html" class="color-black">FAQ</a></li>
            <li class="libg"><a href="~/Home/Index" class="color-black">Login</a></li>
            @*<li class="hide"><a href="~/Registration/SingUp">Sign Up</a></li>*@
            <li class="block back-none"><a href="~/Stratus/Pricing">
                <div class="signup1">
                    <div class="signup-letter">SIGN UP</div>
                </div>
            </a></li>
        </ul>
    </div>
</div>
