<div class="span12 no-left-margin">
    <h3 class="form-section matop">Documents</h3>

    <div class="control-group">
        <div class="controls no-left-margin">
            <div data-provides="fileupload" class="fileupload fileupload-new">
                <div class="input-append">
                    <div class="uneditable-input"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
                    <span class="btn btn-file"><span class="fileupload-new">Upload</span> <span class="fileupload-exists">Change</span>
                        <input type="file" class="default" id="upLoad">
                    </span>
                </div>
            </div>
            <i class="icon-plus-sign" onclick="AddFile();" style="cursor:pointer"></i>Add
        </div>

    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tblFileName">
        @*<tr>
            <td width="85%" valign="middle"><a href="#">one.pdf</a></td>
            <td width="15%" align="center"><i class="icon-remove-circle f24"></i></td>
        </tr>
        <tr>
            <td width="85%" valign="middle"><a href="#">excel.xls</a></td>
            <td width="15%" align="center"><i class="icon-remove-circle f24"></i></td>
        </tr>*@
    </table>
</div>

<script type="text/javascript">
    

</script>
