@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb margin-top-20">
                    <li><i class="icon-home"></i><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
                    <li><a href="list_customers.html">Customers</a></li>
                    <li><i class="icon-angle-right"></i><a href="list_customers.html">List Customers</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box blue border-topf">

                    <div class="portlet-body">
                        <h3 class="page-title matop border-btoom">List Customers <a href="add_new_customer.html"><i class="icon-plus-sign"></i></a>
                            <div class="input-append pull-right">
                                <input type="text" placeholder="Search" class="m-wrap input-large">
                                <button type="button" class="btn blue"><i class="icon-search"></i></button>


                            </div>
                        </h3>
                        <div class="row-fluid">
                            <span class="pull-right"><a class="btn  mini blue margin-bottom-20" onclick="NormalLoad();" >Normal View@*href="list_customers.html"*@</a><a class="btn  mini green margin-bottom-20" onclick="GridLoad();">Grid View@*href="list_customers_gridview.html"*@</a></span>

                            <div id="normalDiv">                                
                            </div>                            

                        </div>


                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>

        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

@Scripts.Render("~/bundle/Script/Dashboard")

<script>

    $(document).ready(
       function () {
           NormalLoad();
       }
       );

    function NormalLoad() {
        $('#normalDiv').load("@Url.Action("List_Customer","Customer")");
        }

        function GridLoad() {
            //debugger;
            $('#normalDiv').load("@Url.Action("List_Customer_Grid","Customer")");
    }
</script>