@model StratusAccounting.Models.Transaction

@{
    ViewBag.Title = "Journal";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- BEGIN PAGE -->
  <div class="page-content"><!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          
          <ul class="breadcrumb margin-top-20">
              <li> <i class="icon-home"></i> <a href="index.html">Home</a> <i class="icon-angle-right"></i> </li>    <li><a href="chart_of_accounts.html">Transactions</a></li>
            <li><a href="journal.html"><i class="icon-angle-right"></i>Journal</a></li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet box blue border-topf">
            <div class="portlet-body">
              <h3 class="page-title matop border-btoom">Create Journal</h3>
              <!-- BEGIN FORM-->
              <form action="#" class="form-horizontal mabottom1">
                <div class="row-fluid">
                  <div class="span4">
                    <div class="control-group">
                      <div class="controls no-left-margin">
                        <div class="input-append date form_datetime">
                             <input size="16" type="text" id="FromDate" name="FromDate" class="m-wrap large" placeholder="From">
                          <span class="add-on"><i class="icon-calendar"></i></span> </div>
                      </div>
                    </div>
                  </div>
                  <div class="span4">
                    <div class="control-group">
                      <div class="controls no-left-margin">
                        <div class="input-append date form_datetime">
                            <input size="16" type="text"  id="ToDate" name="ToDate" class="m-wrap large" placeholder="To">
                          <span class="add-on"><i class="icon-calendar"></i></span> </div>
                      </div>
                    </div>
                  </div>
                  <div class="span1"> <a class="btn blue margin-bottom-10" href="#">View</a> </div>
                  
                  <!--<div class="input-append pull-right">
									<input type="text" placeholder="Search" class="m-wrap input-large">
									<button type="button" class="btn blue"><i class="icon-search"></i></button>
							
						                                  
                                                                        </div>--> 
                  
                </div>
              </form>
              <div class="portlet-body">
                  <table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
                  <thead>
                        <tr class="b1">
                        <th class="hidden-480">S.No</th>
                        <th class="hidden-480">Journal No</th>
                         <th class="hidden-480">Date</th>
                          <th>Account</th>
                          <th>Debits</th>
                          <th>Credits</th>
                          <th class="hidden-480">Description</th>
                          <th>&nbsp;</th>
                                                </tr>
                      </thead>
                  
                  <tbody>
                    <tr>
                    <td class="hidden-480">1</td>
                    <td class="hidden-480"><div class="control-group">
                          <div class="controls">
                            <input type="text" class="span12 m-wrap mabottom1" />
                          </div>
                        </div></td>
                      <td class="hidden-480"><div class="control-group">
                          <div class="controls">
                            <input type="text" class="span12 m-wrap mabottom1" />
                          </div>
                        </div></td>
                     
                      <td><div class="control-group">
                          <div class="controls no-left-margin">
                            <select class="span12 m-wrap mabottom1" data-placeholder="Choose a Category" tabindex="1">
                              <option value="">Chart of Accounts</option>
                              <option value="Category 1">Category 1</option>
                              <option value="Category 2">Category 2</option>
                              <option value="Category 3">Category 5</option>
                              <option value="Category 4">Category 4</option>
                            </select>
                          </div>
                        </div></td>
                      <td><div class="control-group">
                          <div class="controls">
                            <input type="text" class="span12 m-wrap mabottom1" />
                          </div>
                        </div></td>
                      <td><div class="control-group">
                          <div class="controls">
                            <input type="text" class="span12 m-wrap mabottom1" />
                          </div>
                        </div></td>
                      <td class="hidden-480"><div class="control-group">
                          <div class="controls">
                            <input type="text" class="span12 m-wrap mabottom1" />
                          </div>
                        </div></td>
                      <td><button class="btn  green border-form-radius" type="button">Add</button></td>
                    </tr>
                    <tr>
                    <td class="hidden-480">2</td>
                     <td class="hidden-480">J1234</td>
                     <td class="hidden-480">xx/xx/xxxx</td>
                      <td>Purchase</td>
                      <td>50000</td>
                      <td>0</td>
                      <td class="hidden-480">Xerox machine</td>
                      <td><div class="btn-group">
                          <button data-toggle="dropdown" class="btn dropdown-toggle padding-booton"> <span class="caret"></span> </button>
                          <ul class="dropdown-menu">
                          <li><a href="#">Copy</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                          </ul>
                        </div></td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
               
            </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET--></div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    
    <!-- END PAGE CONTAINER--> 
  </div>
  <!-- END PAGE --> 


<script type="text/javascript">

    $(document).ready(function () {

        $("#FromDate").datepicker();
        $("#ToDate").datepicker();

    });
</script>
